:root{
    --cor-degrade: linear-gradient(132deg, #8c52ff 39%, #ff66c4 100%);
    --roxo-fundo: #8c52ff;
    --rosa-fundo: #372963;;
    --roxo-escuro: #261D45;
    --rosa-escuro:#770449;
    --branco: #FFFFFF;
    --rosa:#ff66c4;
    --cinza: #31322C;
    --cinza-claro: #fcf7f7;
    --fonte: 'Poppins';
}


*{
    box-sizing: border-box;
    font-family: var(--fonte);
    color: var(--branco);
    font-size: 14px;
    font-weight: 500;
}

header{
    width: 100%;
    background-color: var(--rosa-fundo);
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.5em 0;
    border-top: 1px solid;
    border-color: var(--branco);
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-around;

}

a{
    text-decoration: none;
}
