main{
    background-color: var(--roxo-escuro);
}

body{
    width: 100vw;
    height: 100vh;
    background-color: var(--roxo-escuro);
}

header{
    width: 100%;
    background-color: var(--rosa-fundo);
    position: fixed;
    position: absolute;
    bottom: 0px;
    padding: 0.5em 0;
    border-top: 1px solid;
    border-color: var(--branco);
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-around;

}

a{
    text-decoration: none;
}

.icons{
    color: var(--cinza-claro);
    font-size: 30px;
}

.secao{
    padding: 0.5em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--rosa-fundo);
    border-bottom: 1px solid;
    border-color: var(--branco);
}

.secao > h2{
    font-size: 16px;
    font-weight: 500;
}

.logo-pequena{
    width: 45px;
    height: 45px;
}

.criar-treino{
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.criar-treino > h2{
    font-size: 20px;
    font-weight: 500;
}

.container-criacao{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 2em;
    gap: 10px;
    background-color: var(--rosa-fundo);
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #00000070;
}

/* /////////////////////////////
           MODAL
 ///////////////////////////// */
 .modal-container{
    background: #00000068;
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    display: grid;
    place-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.15s;
 }
 

 .modal{
    background-color: var(--rosa-fundo);
    display: grid;
    grid-template-areas: 
    "titulo titulo"
    "texto texto"
    "cancelar criar"
    ;
    gap: 10px;
    border-radius: 20px;
    padding: 2em;
    width: 90%; 
    text-align: center;
    box-shadow: 0 0 10px 0 #00000070;
    overflow: hidden;
    transition: width 0.15s, height 0.15s;
 }
  
  .modal-show {
    opacity: 1;
    pointer-events: auto;
  }

 .titulo{
    grid-area: titulo;
    font-weight: 600;
    font-size: 23px;
    font-weight: 500;
    font-family: var(--fonte);
    margin-bottom: 10px;
 }

   #nomePasta {
    grid-area: texto;
    width: auto;
    border: 2px solid transparent;
    outline: none;
    border-bottom: 2px solid var(--branco);
    caret-color: var(--branco);
    background-color: var(--roxo-escuro);
    padding: 0.5em;
    transition: .5s linear;
    font-family: var(--fonte);
    letter-spacing: 1px;
  }
  
  #nomePasta:focus {
    border: 2px solid var(--rosa);
    caret-color: var(--rosa);
    color: var(--rosa);
    box-shadow: 4px 4px 10px #070707;
  }
  
  #nomePastafocus::placeholder {
    color: var(--rosa);
    font: var(--fonte);
  }

 #button-cancelar{
    background-color: var(--roxo-escuro);
    grid-area: cancelar;
    width: auto;
 }

 #button-criar{
    background-color: var(--roxo-escuro);
    grid-area: criar;
 }

 .botoes{
    border: none;
    padding: 0.5em;
    border-radius: 5px;
    opacity: 0.7;
    transition: 0.2s;
 }

 .botoes:active{
    opacity: 1;
 }

 /* /////////////////////////////
           PASTAS
 ///////////////////////////// */
.pastas{
    background-color: var(--rosa-fundo);
    margin: 0 2em;
    padding: 1em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px 0 #00000070;
}

.container-pasta{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--rosa-fundo);
    margin: 1em 2em;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #00000070;
}

 